.box-ribbon {
    position: relative;
    max-width: 600px;
    width: 90%;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
  }
  
  /* common */
  .ribbon {
    width: 150px;
    height: 150px;
    z-index: 100;
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #EFC911;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 12px 0;
    background-color: #EFC911;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #000;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-weight: 600;
    text-align: center;
  }
  
  /* top left*/
  .ribbontopleft {
    top: -10px;
    left: -10px;
  }
  .ribbontopleft::before,
  .ribbontopleft::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbontopleft::before {
    top: 0;
    right: 0;
  }
  .ribbontopleft::after {
    bottom: 0;
    left: 0;
  }
  .ribbontopleft span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  
 